# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/

# data (local embedded store)
/data/*.json
!/data/.gitkeep

# misc
.DS_Store
*.pem
.env
.env*.local
coverage/
*.log
*.tsbuildinfo
